/* Universal */ 

* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

button {
  background-color: transparent;
  border:none;
}

/* Navigation */

nav {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.searchbar-container {
  grid-column: 2 / span 1;
  margin: auto;
}

.searchbar-container input {
  margin: auto 0;
  width: 300px;
  height: 30px;
  padding-left: 10px;
  border-radius: 5px;
  border-color: aliceblue;
}

.searchbar-container button {
  margin: auto 0;
  height: 30px;
  outline: none;
}

#search-icon {
  height: 20px;
  width: auto;
  margin: auto 10px;
}

.Nav-logo {
  display: inline-flex;
  grid-column: 1 / span 1;
  height: 50px;
}

.Nav-logo h1 {
  font-weight: bold;
  margin: auto 0;
}

.Nav-logo img {
  height: 40px;
  width: auto;
  margin: auto 10px;
}

@media only screen and (max-width: 1100px) {
  nav {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 30px;
  }
  
  .searchbar-container {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin: auto 10px;
  }

  .searchbar-container input {
    margin: auto 0;
    width: 300px;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    border-color: aliceblue;
  }
  
}

/* Main */

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 20px;
}

.posts-container {
  grid-column: 1 / span 1;
}

.subjects-container {
  grid-column: 2 / span 1;
}

@media only screen and (max-width: 1100px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;
    margin-top: 20px;
  }
  
  .subjects-container {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
}

/* Posts */

.post-container {
  border: groove aliceblue;
  margin: 10px 0px; 
  border-radius: 10px;
}

/* Subreddits */

.subreddit-container {
  display: flex;
  border: groove aliceblue;
  margin: 10px 0px; 
  border-radius: 10px;
}

.subreddit-icon {
  margin: 5px;
  height: 35px;
  width: auto;
  border-radius: 50%;
  border: solid black 2px;
}

.subreddit-name {
  font-weight: bold;
  font-size: 1.3em;
  margin: auto 0;
}

/* Comments */

.comment-container {
  text-align: left;
  padding: 10px 0px;
}

.comment-container p {
  font-size: 1em;
  margin: 5px 10px;
  font-style: italic;
}

.comment-container .username {
  color: grey;
  font-size: 1.25em;
}