* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

/* Navigation */

nav {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.searchbar-container {
  grid-column: 2 / span 1;
  margin: auto;
}

.searchbar-container input {
  margin: auto 0;
  width: 300px;
  height: 30px;
  padding-left: 10px;
  border-radius: 5px;
  border-color: aliceblue;
}

.searchbar-container button {
  margin: auto 0;
  height: 30px;
  outline: none;
}

#search-icon {
  height: 20px;
  width: auto;
  margin: auto 10px;
}

.Nav-logo {
  display: inline-flex;
  grid-column: 1 / span 1;
  height: 50px;
}

.Nav-logo h1 {
  font-weight: bold;
  margin: auto 0;
}

.Nav-logo img {
  height: 40px;
  width: auto;
  margin: auto 10px;
}



/* Main */

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.posts-container {
  grid-column: 1 / span 1;
}

.subjects-container {
  grid-column: 2 / span 1;
}